In [1]:
import pandas as pd

mountain_height = pd.Series([2061, 2035.8, 2028.5, 2022.5, 2016.4])

print(mountain_height)

0    2061.0
1    2035.8
2    2028.5
3    2022.5
4    2016.4
dtype: float64

In [2]:
import pandas as pd

mountains_height = pd.Series(
    data=[2061, 2035.8, 2028.5, 2022.5, 2016.4],
    index=["Goverla", "Brebenskyl", "Pip_Ivan", "Petros", "Gutin_Tomnatik"],
    name="Height, m",
    dtype=float,
)

print(mountains_height)

Goverla           2061.0
Brebenskyl        2035.8
Pip_Ivan          2028.5
Petros            2022.5
Gutin_Tomnatik    2016.4
Name: Height, m, dtype: float64

In [20]:
import pandas as pd

tmp = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_Ukraine", attrs={"class": "wikitable sortable"})

print(tmp[1].head())

   [41]  Average population  Live births    Deaths  Natural change  \
0  1924            27400000      1211000  484880.0        726120.0
1  1925            28000000      1246000  531819.0        714181.0
2  1926            28700000      1258000  518656.0        739344.0
3  1927            29589000      1228000  579000.0        649000.0
4  1928            30251000      1178000  575000.0        603000.0

   Crude birth rate (per 1,000)  Crude death rate (per 1,000)  \
0                          43.3                          17.3
1                          43.4                          18.5
2                          42.5                          17.5
3                          40.6                          19.1
4                          38.1                          18.6

   Natural change (per 1,000)  Fertility rates  Life Expectancy (male)  \
0                        25.9              NaN                     NaN
1                        24.9             5.39                     NaN
2                        25.0              NaN                     NaN
3                        21.5              NaN                    43.3
4                        19.5              NaN                    44.6

   Life Expectancy (female)
0                       NaN
1                       NaN
2                       NaN
3                      46.8
4                      48.7

In [9]:
import pandas as pd

tmp = pd.read_html("https://en.wikipedia.org/wiki/Demographics_of_Ukraine", attrs={"class": "wikitable sortable"})
df_ukrainian_after_ww = tmp[1]
df_ukrainian_birth_rate_0 = pd.DataFrame(df_ukrainian_after_ww["[41]"])
df_ukrainian_birth_rate_1 = pd.DataFrame(df_ukrainian_after_ww["Crude birth rate (per 1,000)"])
df_ukrainian_birth_rate = pd.concat([df_ukrainian_birth_rate_0, df_ukrainian_birth_rate_1], axis=1)
# print(tmp[1].head())
print("_________")
print(df_ukrainian_birth_rate.to_string())
print(df_ukrainian_birth_rate.shape)

_________
       [41]  Crude birth rate (per 1,000)
0      1924                          43.3
1      1925                          43.4
2      1926                          42.5
3      1927                          40.6
4      1928                          38.1
5      1929                          35.5
6      1930                          33.0
7      1931                          31.0
8      1932                          24.7
9      1933                          17.4
10     1934                          18.1
11     1935                          24.5
12     1936                          28.3
13     1937                          37.5
14     1938                          33.6
15     1939                          31.7
16  1940(b)                          30.6
(17, 2)

In [19]:
import pandas as pd
excel_file = "Fertility_rate.xlsx"
df = pd.read_excel(excel_file)
print("1. Pierwsze wiersze tabeli:")
print(df.head())
print("______________________________________________________________________________")
print("2. Liczba kolumn i wierszy: ", df.shape)
print("______________________________________________________________________________")
print("3. Zastąpienie w tabeli wartościi NaN na _:")
print(

1. Pierwsze wiersze tabeli
                         regions  2011  2012  2013  2015  2017  2019  2021
0  Autonomous Republic of Crimea  1.56  1.68  1.66     _     _     _     _
1               Vinnytsia region  1.53  1.59  1.53   1.5  1.36   1.2  1.14
2                   Volyn region  1.81  1.92  1.86  1.74  1.62  1.48  1.45
3          Dnipropetrovsk region  1.44  1.52  1.51  1.48  1.29  1.11  1.03
4                 Donetsk region  1.27  1.34  1.32     _     _     _     _
________________________________________________________________________
2. Liczba kolumn i wierszy:  (27, 8)

In [8]:
import pandas as pd

tmp = pd.read_html("https://docs.google.com/spreadsheets/d/12tK5jH3c54cVdLw63KgYHrf7NFBPDbCk/edit#gid=870827323")

print(tmp[0])
print("_________")

    Unnamed: 0                              A     B        C        D     E  \
0            1                        regions  2011  2012.00  2013.00  2015
1            2  Autonomous Republic of Crimea  1.56     1.68     1.66     _
2            3               Vinnytsia region  1.53     1.59     1.53   1.5
3            4                   Volyn region  1.81     1.92     1.86  1.74
4            5          Dnipropetrovsk region  1.44     1.52     1.51  1.48
..         ...                            ...   ...      ...      ...   ...
95          96                            NaN   NaN      NaN      NaN   NaN
96          97                            NaN   NaN      NaN      NaN   NaN
97          98                            NaN   NaN      NaN      NaN   NaN
98          99                            NaN   NaN      NaN      NaN   NaN
99         100                            NaN   NaN      NaN      NaN   NaN

       F     G     H   I  ...   Q   R   S   T   U   V   W   X   Y   Z
0   2017  2019  2021 NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1      _     _     _ NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2   1.36   1.2  1.14 NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3   1.62  1.48  1.45 NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4   1.29  1.11  1.03 NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
..   ...   ...   ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
95   NaN   NaN   NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
96   NaN   NaN   NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
97   NaN   NaN   NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
98   NaN   NaN   NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
99   NaN   NaN   NaN NaN  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[100 rows x 27 columns]
_________